@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Products.css" />

<body onload="searchProducts()">
    <div>
        @if (User.IsInRole("admin"))
        {
            <form asp-controller="Products" asp-action="Create" method="get">
                <input type="submit" value="Добавить продукт" />
            </form>
        }
        </div>
    <div>
        <form>
            <input type="text" name="name" id="search" maxlength="100" />
            <input type='button' id="submit" value="Поиск" onclick="searchProducts()" />
            <input type="button" id="reset" value="Сбросить" onclick="clearData()">
        </form>
        <div id="results"></div>
    </div>

</body>