@model GameStore.Models.Product

<link rel="stylesheet" href="~/css/Products.css" />

<h2>Обновление данных о продукте</h2>

<form asp-action="Update" asp-controller="Products" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Введите название продукта</label>
        <input type="text" asp-for="Name" value="@Model.Name" required pattern="[А-Яа-яA-Za-z\s]{1,100}" class="name"/>
        <span asp-validation-for="Name" />
    </div>
    <div>
        <label asp-for="Description">Введите описание продукта</label>
        <textarea rows="1" asp-for="Description" required pattern="{0,10000}" class="description"></textarea>
        <span asp-validation-for="Description" />
    </div>
    <div>
        <label asp-for="Price">Введите стоимость продукта</label>
        <input type="number" asp-for="Price" value="@Model.Price"/>
        <span asp-validation-for="Price" />
    </div>
    <input asp-for="Id" value="@Model.Id" hidden="hidden"/>
    <input asp-for="PathToPicture" value="@Model.PathToPicture" hidden="hidden"/>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>