# NOTE: Requires **VS2019 16.3** or later

# Custom Rulset
# Description: Custom Rulset

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1031.severity = suggestion

dotnet_diagnostic.CA1303.severity = none

dotnet_diagnostic.CA1801.severity = suggestion

dotnet_diagnostic.CA2007.severity = silent

dotnet_diagnostic.SA0001.severity = none

dotnet_diagnostic.SA1028.severity = none

dotnet_diagnostic.SA1101.severity = silent

dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1400.severity = error

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1633.severity = none
