@model GameStore.Models.LoginModel

<h2>Вход на сайт</h2>

<script>
    function toggleShowPassword() {
        var passwordTextBox = document.getElementById('passwordTextBox');
        if (passwordTextBox.getAttribute('type') == 'text') {
            passwordTextBox.type = 'password';
        }
        else {
            passwordTextBox.type = 'text';
        }
    }
</script>
<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form method="post" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Введите никнэйм</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input id="passwordTextBox" type="password" asp-for="Password" />
            <a href="#" onclick="toggleShowPassword(); return false">0</a>
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
