@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Products</p>
    </div>
    <table>
        @foreach (var product in ViewBag.Products)
            {
                <tr>
                    <th><p><img src="@product.PathToPicture" width="100" height="100" /></p></th>
                    <th>@product.Name</th>
                    <th>@product.Description</th>
                    <th>@product.Price</th>
                </tr>
            }
    </table>
</body>
</html>