@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <p>Hello deard, @ViewBag.Nick!</p>
    </div>
</body>
</html>